
body{
    background-color: grey;
}



h1{
text-align: center;

}

.container{
    background-color: paleturquoise;
    
    
}

ul li{
    display:inline-block;
    margin: 2rem;
    
}

#Marx {
        display: block;
        width : 20rem;
        margin-left: auto;
        margin-right: auto;
        
}
